html {
    overflow: hidden;
    height: 100%;
    background: #191919;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
    display: block; /* Add this to make the link a block element */
    text-align: center; /* Center the content horizontally */
    line-height: 200px; /* Set line-height to match the height of the link */
    background-color: #000; /* Change the background color */
    height: 200px;
    width: 200px;
    position: relative;
  }

#canvas {
    background: url('https://marclopezavila.github.io/planet-defense-game/img/space.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#canvas.playing {
    cursor: url('https://marclopezavila.github.io/planet-defense-game/img/aim_red.png') 17.5 17.5,auto !important;
}